.dashboard-main-header{
    align-items: center;
}
.dashboard-left-side-logo{
    width: 85px;
}
.Dashboard-header :nth-child(1){
    font-size: 23px;
    font-weight: 700;
    color:#0077B6
}
.Dashboard-header :nth-child(2){
    text-align: center;
    font-size: 20px;
    color:#0077B6
}
.header-hr{
    color: #0077B6;
    height: 3px;
    background-color: #0077B6;
}